* {
  padding: 0;
  margin: 0;
  user-select: none;
}
:root {
  font-family: "Roboto", "sans-serif";
  letter-spacing: 1px;

  /* global variables */
  --nav-height: 50px;
  --primary-hue-saturation: 206.57, 89.74%;

  --primary0: hsl(var(--primary-hue-saturation), 95%);
  --primary1: hsl(var(--primary-hue-saturation), 85%);
  --primary2: hsl(var(--primary-hue-saturation), 75%);
  --primary3: hsl(var(--primary-hue-saturation), 65%);
  --primary4: hsl(var(--primary-hue-saturation), 55%);
  --primary5: hsl(var(--primary-hue-saturation), 45%);
  --primary6: hsl(var(--primary-hue-saturation), 35%);
  --primary7: hsl(var(--primary-hue-saturation), 25%);
  --primary8: hsl(var(--primary-hue-saturation), 15%);
  --primary9: hsl(var(--primary-hue-saturation), 5%);

  --primary-x90: hsl(var(--primary-hue-saturation), 90%);

  --home-image: url("/static/images/home/home.jpg");
}
:root,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body.home-page {
  overflow-y: auto;
}
/* global */
a {
  display: inline-block;
  text-decoration: none;
}
a.button {
  background: transparent;
  color: var(--primary6);
  padding: 5px 8px;
  margin: 0px 6px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
a.button:not(.active):hover {
  background: var(--primary-x90);
  color: var(--primary6);
}
a.button.active {
  background: var(--primary4);
  color: #ffffff;
}
a.button.active.dark {
  background: var(--primary5);
  padding: 10px 15px;
  border: 1px solid var(--primary7);
  border-radius: 3px;
}
/* 404 */
.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-found .title {
  font-weight: 700;
  font-size: 40px;
  color: var(--primary5);
}
.not-found .description {
  font-weight: 400;
  font-size: 20px;
  color: var(--primary4);
}
/* navigation */
nav {
  display: grid;
  grid-template-columns: auto auto;
  height: var(--nav-height);
  position: relative;
  top: 0;
  left: 0;
}
nav .app {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}
nav .app:focus {
  outline: none;
}
nav .app .app-icon {
  width: var(--nav-height);
  height: var(--nav-height);
  flex-shrink: 0;
  background-image: url("/static/images/logo.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 90%;
  margin: 0px 2px;
}
nav .app .title {
  flex-shrink: 1;
  height: var(--nav-height);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
nav .app .title .app-name {
  font-weight: 500;
  font-size: 20px;
  color: var(--primary5);
}
nav .menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 6px;
  height: 100%;
}
@media (max-width: 550px) {
  nav * {
    font-size: 15px !important;
  }
  nav a.button {
    margin: 0px;
  }
}
/* home page container */
.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - var(--nav-height));
}
.home-page .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.home-page .container .left,
.home-page .container .right {
  width: 100%;
  height: 100%;
}
.home-page .container .right .image {
  width: 100%;
  height: 100%;
  background-image: var(--home-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.home-page .container .left {
  padding-left: clamp(5px, 5vmin, 30px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-page .container .title {
  font-size: clamp(26px, 5vw, 50px);
  margin-bottom: 20px;
  color: var(--primary5);
}
.home-page .container .sub-title {
  font-size: 16px;
  font-style: italic;
  text-align: justify;
  line-height: 180%;
  color: var(--primary3);
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
.button-container a.active.dark {
  padding-left: 25px;
  padding-right: 25px;
  margin: 10px 20px;
  white-space: nowrap;
  border-radius: 50px;
  font-weight: 700;
  border: none;
  background-color: var(--primary4);
  box-shadow: 0 5px 20px hsla(var(--primary-hue-saturation), 55%, 0.6);
  transition: box-shadow 0.3s;
}
.button-container a.active.dark:hover {
  box-shadow: 0 5px 20px hsla(var(--primary-hue-saturation), 55%, 0.9);
}
@media (max-width: 720px) {
  .button-container {
    margin: 10px 0px;
  }
}
@media (max-width: 550px) {
  .home-page .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .home-page .container .left {
    padding-right: clamp(5px, 5vmin, 30px);
    grid-area: 1 / 1 / 1 / 1;
  }
  .home-page .container .right {
    display: none;
  }
  .home-page .container .title {
    font-size: clamp(26px, 7vw, 50px);
  }
  .home-page .container .sub-title {
    line-height: 120%;
  }
  .button-container a.button.active.dark {
    margin: 10px;
  }
  .button-container {
    margin: 45px 0px;
  }
}
@media (max-width: 300px) {
  .home-page .container .title {
    text-align: center;
  }
}
/* Search Page Container */
body.search-page {
  overflow-y: auto;
}
.search-page .container {
  height: auto;
}
.search-page .container .search {
  width: calc(100% - 100px);
  margin: 50px;
  height: 100px;
  display: grid;
  grid-template-columns: auto 1fr 100px;
  grid-template-rows: 50px auto;
  box-sizing: border-box;
  position: relative;
}
.search-page .container .search .description {
  grid-area: 2/1/3/4;
  text-align: center;
  font-size: 20px;
  padding: 15px 0px;
  color: var(--primary5);
}
.search-page .container .search select,
.search-page .container .search input,
.search-page .container .search button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px 15px;
  font-size: 20px;
  letter-spacing: 1px;
  border: 1px solid #000;
}
.search-page .container .search select {
  background-color: var(--primary1);
  border-right: none;
  transition: border-radius 0.3s;
}
.search-page .container .search select:focus {
  outline: none;
}
.search-page .container .search button {
  background-color: var(--primary4);
  border-left: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
.search-page .container .search button:hover {
  background-color: #29b6f6;
}
.search-page .container .search button:focus {
  outline: none;
}
/* search result */
.search-page .container .search-result .no-result {
  width: 100%;
  height: 50vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.search-page .container .search-result .no-result.type-search {
  background-image: url("../images/search/error.png");
}
.search-page .container .search-result .no-result.type-not-search {
  background-image: url("../images/search/search.png");
}
.search-page .container .search-result {
  padding: 0px 25px;
  box-sizing: border-box;
}
.search-page .container .search-result .result {
  text-align: justify;
  background-color: var(--primary0);
  box-shadow: 2px 2px 10px 1px #00000080;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 45px 0px;
}
.search-page .container .search-result .result img {
  /* max-width: 400px; */
  /* max-height: 300px; */
  width: 100%;
  margin-bottom: 15px;
}
.search-page .container .search-result .result {
  grid-template-columns: 1fr;
}
.search-page .container .search-result .result .sub-title {
  font-size: 20px;
  font-weight: 600;
  margin: 15px 0px;
  color: var(--primary5);
  user-select: text;
}
.search-page .container .search-result .result .title {
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-weight: 900;
  color: var(--primary4);
  user-select: text;
}
.search-page .container .search-result .result .description {
  text-indent: 50px;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 25px;
  columns: 4;
  column-gap: 20px;
  user-select: text;
}
.search-page .container .search-result .result .reference {
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 25px;
  user-select: text;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 1100px) {
  .search-page .container .search-result .result .description {
    columns: 3;
  }
}
@media (max-width: 800px) {
  .search-page .container .search-result .result .description {
    columns: 2;
  }
}
@media (max-width: 550px) {
  .search-page .container .search-result .result .description {
    columns: 1;
  }
  .search-page .container .search {
    margin: 20px 10px;
    width: calc(100% - 20px);
  }
  .search-page .container .search *:not(.description,.high) {
    font-size: 15px;
    padding: 0px 5px;
  }
  .search-page .container select {
    max-width: 100px;
  }
  .search-page .container .search-result {
    padding: 0px 5px;
  }
  .search-page .container .search-result .result {
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
  }
  .search-page .container .search-result .result .title {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: left;
  }
}
.search-page .container .search .suggestion-box {
  position: absolute;
  top: 50px;
  background: #E3F2FD;
  width:100%;
  font-size: 18px;
  border-left: 1px solid #1976D2;
  border-right: 1px solid #1976D2;
  box-sizing: border-box;
}
.search-page .container .search .suggestion-box .suggestion {
  color: #42A5F5;
  padding: 5px 10px;
  border-bottom: 1px solid #1976D2;
}
.search-page .container .search .suggestion-box .suggestion .high {
  display: inline;
  color: #1565C0;
  font-weight: 900;
}
